<div class="container">
  <button class="btn btn-primary float-left" (click)="goBack()">
    <i class="fa fa-chevron-left"></i>
  </button>
  <!-- Outer Row -->
  <div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-2 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-8">
              <div class="p-5">
                <div class="mb-5 text-center">
                  <h1 class="h4 text-gray-900 mb-2">Reset Your Password</h1>
                </div>
                <form [formGroup]="resetForm" (ngSubmit)="resetPassword()">
                  <div class="form-floating mb-3">
                    <input
                      formControlName="password"
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      [ngClass]="{
                        'is-invalid': submitted && f['password'].errors
                      }"
                      placeholder="Entrez votre mot de passe"
                      required
                    />
                    <label for="password">Password</label>
                    <div
                      *ngIf="submitted && f['password'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['password'].errors['required']">
                        Password is required
                      </div>
                      <div *ngIf="f['password'].errors['minlength']">
                        Password must be at least 8 characters
                      </div>
                    </div>
                  </div>

                  <div class="form-floating mb-3">
                    <input
                      formControlName="confirmPassword"
                      type="password"
                      id="password2"
                      class="form-control form-control-lg"
                      [ngClass]="{
                        'is-invalid': submitted && f['confirmPassword'].errors
                      }"
                      placeholder="Confirmez votre mot de passe"
                      required
                    />
                    <label for="password2">Repeat your password</label>
                    <div
                      *ngIf="submitted && f['confirmPassword'].errors"
                      class="invalid-feedback"
                    >
                      <div *ngIf="f['confirmPassword'].errors['required']">
                        Confirm Password is required
                      </div>
                      <div *ngIf="f['confirmPassword'].errors['mustMatch']">
                        Passwords must match
                      </div>
                    </div>
                  </div>
                  <div class="form-group justify-content-center">
                    <button
                      [disabled]="loading"
                      type="submit"
                      class="btn btn-primary btn-block btn-lg text-body"
                    >
                      <span
                        *ngIf="loading"
                        class="spinner-border spinner-border-sm mr-1"
                      ></span>
                      Save
                    </button>
                  </div>
                </form>
                <hr />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
