<div class="container-fluid">
  <div class="row">
    <!-- User informations -->
    <div class="col-xl-8 col-lg-7">
      <div class="card shadow mb-4">
        <!-- Card Header -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">User Informations</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="pt-4 pb-2">
            <form
              [formGroup]="updateDetailsForm"
              (ngSubmit)="updateNameOrLastName()"
            >
              <div class="form-group">
                <input
                  formControlName="firstName"
                  type="text"
                  class="form-control"
                  placeholder="First name..."
                  [ngClass]="{
                    'is-invalid': submitted && f1['firstName'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f1['firstName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1['firstName'].errors['required']">
                    First Name is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  formControlName="lastName"
                  type="text"
                  class="form-control"
                  placeholder="Last name .."
                  [ngClass]="{
                    'is-invalid': submitted && f1['lastName'].errors
                  }"
                />
                <div
                  *ngIf="submitted && f1['lastName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f1['lastName'].errors['required']">
                    Last Name is required
                  </div>
                </div>
              </div>
              <button
                [disabled]="loading"
                type="submit"
                class="btn btn-primary btn-block"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Password managment -->
    <div class="col-xl-4 col-lg-5">
      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
          class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
        >
          <h6 class="m-0 font-weight-bold text-primary">Password Managment</h6>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div class="pt-4 pb-2">
            <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
              <div class="form-group">
                <input
                  formControlName="password"
                  type="password"
                  class="form-control form-control-user"
                  id="password"
                  aria-describedby="emailHelp"
                  placeholder="New Password..."
                  [ngClass]="{
                    'is-invalid': submitted2 && f2['password'].errors
                  }"
                />
                <div
                  *ngIf="submitted2 && f2['password'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f2['password'].errors['required']">
                    Password is required
                  </div>
                  <div *ngIf="f2['password'].errors['minlength']">
                    Password must be at least 8 characters
                  </div>
                </div>
              </div>
              <div class="form-group">
                <input
                  formControlName="confirmPassword"
                  type="password"
                  class="form-control form-control-user"
                  id="confirmPassword"
                  aria-describedby="emailHelp"
                  placeholder="Confirm the password .."
                  [ngClass]="{
                    'is-invalid': submitted2 && f2['confirmPassword'].errors
                  }"
                />
                <div
                  *ngIf="submitted2 && f2['confirmPassword'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f2['confirmPassword'].errors['required']">
                    Confirm Password is required
                  </div>
                  <div *ngIf="f2['confirmPassword'].errors['mustMatch']">
                    Passwords must match
                  </div>
                </div>
              </div>
              <button
                [disabled]="loading2"
                type="submit"
                class="btn btn-primary btn-block text-body"
              >
                <span
                  *ngIf="loading2"
                  class="spinner-border spinner-border-sm mr-1"
                ></span>
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- My board -->
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">My Boards</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Name</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let b of currentUser.boardCreer">
              <td>{{ b.title }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--End of my board-->

  <!-- Tasks-->
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">My assigned tasks</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Libelle</th>
              <th>created date</th>
              <th>dead line</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Libelle</th>
              <th>Created date</th>
              <th>Dead line</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let c of currentUser.tachesAssigner">
              <td>{{ c.libelle }}</td>
              <td>{{ c.createdDate }}</td>
              <td>{{ c.deadLine }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End of the tasks -->

  <!-- My Created Tasks-->
  <div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">My created tasks</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Libelle</th>
              <th>created date</th>
              <th>dead line</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Libelle</th>
              <th>Created date</th>
              <th>Dead line</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let c of currentUser.tachesCreer">
              <td>{{ c.libelle }}</td>
              <td>{{ c.createdDate }}</td>
              <td>{{ c.deadLine }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End of the created tasks -->

  <!-- Delete user -->
  <!--<div class="card shadow mb-4">
    <div
      class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">Delete User</h6>
    </div>
    <div class="card-body">
      <button class="btn btn-danger" (click)="deleteUser()">Delete</button>
    </div>
  </div> -->
  <!--End of delete user -->
</div>
