<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area mt-3" id="welcome">
  <!-- ***** Header Text Start ***** -->
  <div class="header-text">
    <div class="container">
      <div class="row">
        <div
          class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
          data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
        >
          <h1>kBoard gratuit <strong>pour vous</strong></h1>
          <p>
            Créez vos tableaux kanban, organisez vos projets et suivez leur
            evolution constamment.
          </p>
        </div>
        <div
          class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
          data-scroll-reveal="enter right move 30px over 0.6s after 0.4s"
        >
          <img
            src="../../assets/kanban2.jpg"
            class="rounded img-fluid d-block mx-auto"
            alt="First Vector Graphic"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->

<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-7 col-md-12 col-sm-12"
        data-scroll-reveal="enter left move 30px over 0.6s after 0.4s"
      >
        <img
          src="../../assets/right-image.png"
          class="rounded img-fluid d-block mx-auto"
          alt="App"
        />
      </div>
      <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
        <div class="left-heading" class="mb-4">
          <h3>L'organisation est la base du succès</h3>
        </div>
        <div class="left-text">
          <p class="mb-5">
            <q>
              La raison d'être d'une organisation est de permettre à des gens
              ordinaires de faire des choses extraordinaires</q
            >
          </p>
        </div>
        <div class="float-right">
          <a routerLink="/register" class="btn btn-primary"
            >Nous rejoindre <i class="fas fa-chevron-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
